// Add any custom Sass & CSS here

body {
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
}

select {
	width: 170px;
}

span.nav{
	color: $genreBG;
	margin: 10px;
	a:hover{
		color: $blue;
	}
}

h1 {	//page title
	font-size: 3rem;
	color: $titlecolor;
	text-align: center;
}

h2 {	//movie title
	font-size: 1.5rem;
	line-height: 100%;
	font-weight: bold;
}

h3{
	font-size: 1.1rem;
}

.searchResults{
	max-width: 800px;
	margin: auto;
	padding: 10px;
}

.result{
	width: 100%;
	img { height: 150px; }

	a:hover{
		color: $blue;
		img { opacity: 0.7; }
	}

	.left{
		float: left;
		width: 30%;
	}
	.right{
		text-align: left;
		padding-left: 10px;
		float: right;
		width: 70%;
		min-height: 150px;

	}
}

.details{
	width: 100%;
	max-width: 700px;
	min-height: 400px;
	margin: auto;
	padding: 20px;

	img{
		max-height: 500px;
	}

	.left{
		margin: 0;
		float: left;
		width: 30%;
	}
	.right{
		text-align: left;
		padding-left: 10px;
		//background-color: #666666;
		margin: 0;
		float: right;
		width: 70%;
	}
}

ul.gallery {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li { display: inline; }

	img { 
		max-width: 180px; 
		&:hover{ opacity: 0.5; border-bottom: none;} 
	}
}

ul.genres {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li { 
		display: inline-block; 
		background: $lightblue;
		margin: 5px;
		padding: 10px
	}
}

a, a:visited, a:hover, a:active {
	color: $black;
}
a:hover{
	color: $white;
	//border-bottom: 1px solid $black;
}